# ==========================================
# DATABASE
# ==========================================
DB_URL=jdbc:postgresql://localhost:5432/techub
DB_USERNAME=techub_user
DB_PASSWORD=techub_pass

# ==========================================
# JWT # chave apenas para exemplo, substitua por uma chave segura
# ==========================================
JWT_SECRET=yL9npj1a7tWuBgwZwMk+xbSHzXbmbIln/kb
JWT_EXPIRATION_TIME=3600000

# ==========================================
# Gmail EMAIL
# ==========================================
MAIL_USERNAME=************
MAIL_PASSWORD=************

# ==========================================
# APPLICATION
# ==========================================
SERVER_PORT=8080